#self-message{
    width: 100%;
    height: 500px;
    background: #00bdbd;
    overflow: hidden;
}
#self-message .self-title{
    margin: 30px 0 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
#self-message .self-title.show{
    color: #55C1E5;
}
#self-message .self-container{
    margin-top: 30px;
    width: 100%;
    height: 300px;
}
#self-message .self-img-container{
    position: relative;
    height: 100%;
}
#self-message .self-img{
    position: absolute;
    height: 300px;
    width: 225px;
    top:50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -100px;
    background: url("../img/header.jpg") center;
    background-size:  contain;
}
.self-content{
    position: relative;
}
.self-content p,.self-content h3{
    transition: all 1.5s ease;
    opacity: 0;
    left: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    color: #ffffff;
}
.self-content h3{
    font-size: 15px;
}
.self-content h3.show{
    left: 0;
    opacity: 1;
}

.self-content .self-name{
    -moz-transition-delay: 100ms;
    font-size: 30px;
}
.self-content .self-name.show{
    opacity: 1;
    left: 0;
}
.self-content .self-age{
    -o-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    transition-delay: 200ms;
    margin: 10px 0 10px;
    font-size: 20px;
}
.self-content .self-age.show{
    opacity: 1;
    left: 0;
}
.self-content .self-hobbit{
    margin: 10px 0 10px;
    font-size: 20px;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    transition-delay: 300ms;
}
.self-content .self-hobbit.show{
    opacity: 1;
    left: 0;
}
.self-content .self-aim{
    margin: 10px 0 10px;
    font-size: 20px;
    -o-transition-delay: 400ms;
    -ms-transition-delay: 400ms;
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    transition-delay: 400ms;
}
.self-content .self-aim.show{
    opacity: 1;
    left: 0;
}
.self-content .self-introduce{
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    transition-delay: 500ms;
    font-size: 16px;
    line-height: 25px;
}
.self-content .self-introduce.show{
    opacity: 1;
    left: 0;
}
#self-achievement{
    width: 100%;
    height: 400px;
}
#self-achievement .achieve-title{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #55C1E5;
}
#ach-container{
    position: relative;
    /*left: -750px;*/
    height: 300px;
    width: 1875px;
    margin-left: 10px;
}
#ach-container li{
    padding: 10px;
    height:300px;
    width: 350px;
    margin-right: 25px;
    float: left;
    box-shadow: 2px 2px 2px 2px #ccc;
}
@media screen and (max-width: 680px){
    #self-message .self-img-container{
        display: none;
    }
}