@mixin transition($style,$time){
  -webkit-transition: $style $time ease;
  -moz-transition: $style $time ease;
  -o-transition: $style $time ease;
  transition: $style $time ease;
}
@mixin transition-delay($time){
  -o-transition-delay: $time;
  -webkit-transition-delay: $time;
  -moz-transition-delay: $time;
  transition-delay: $time;
}
@mixin section-title($color){
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: $color;
  @include transition(all,1s);
}
$min-title-size:25px;
$self-message-height:500px;
$my-skill-height:450px;
$self-item-height:500px;
$default_color:#fff;
$active_color:#55C1E5;
$self-img:'../img/header.jpg';
@mixin  self-content-style($font-size){
  opacity: 0;
  left: 100%;
  position: relative;
  width: 100%;
  text-align: center;
  color: $default_color;
  font-size: $font-size;
  @include transition(all,1.5s);
}
@mixin self-content-show(){
  left: 0;
  opacity: 1;
}
#self-message{
  width: 100%;
  height: $self-message-height;
  background: #00bdbd;
  overflow: hidden;
  .self-title{
    @include section-title($default_color);
    margin: 30px 0 0;
    @media screen and (max-width: 680px){
      font-size: $min-title-size;
    }
  }
  .self-title.show{
    color: $active_color;
  }
  .self-container{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    .self-img-container{
      position: relative;
      height: 100%;
      @media screen and (max-width: 680px){
        display: none;
      }
      .self-img{
        position: absolute;
        height: 300px;
        width: 225px;
        top:50%;
        left: 50%;
        margin-left: -110px;
        margin-top: -100px;
        background: url("#{$self-img}") center;
        background-size:  contain;
      }
    }
    .self-content{
      position: relative;
      .title{
        @include self-content-style(15px);
      }
      .title.show{
        @include self-content-show();
      }
      .self-name{
        @include self-content-style(30px);
        @include transition-delay(100ms);
        @media screen and (max-width: 680px){
          font-size: 15px;
        }
      }
      .self-name.show{
        @include self-content-show();
      }
      .self-age{
        @include self-content-style(20px);
        @include transition-delay(200ms);
        margin: 10px 0 10px;
        @media screen and (max-width: 680px){
          font-size: 12px;
        }
      }
      .self-age.show{
        @include self-content-show();
      }
      .self-hobbit{
        @include self-content-style(20px);
        @include transition-delay(300ms);
        margin: 10px 0 10px;
        @media screen and (max-width: 680px){
          font-size: 12px;
        }
      }
      .self-hobbit.show{
        @include self-content-show();
      }
      .self-aim{

        @include self-content-style(20px);
        @include transition-delay(400ms);
        margin: 10px 0 10px;
        @media screen and (max-width: 680px){
          font-size: 12px;
        }
      }
      .self-aim.show{
        @include self-content-show();
      }
      .self-introduce{
        @include self-content-style(16px);
        @include transition-delay(500ms);
        line-height: 25px;
        @media screen and (max-width: 680px){
          font-size: 10px;
        }
      }
      .self-introduce.show{
        @include self-content-show();
      }
    }
  }
}
$js:80%;
$css:70%;
$node:60%;
$php:55%;
#my-skill{
  width: 100%;
  background: #4cae4c;
  height: $my-skill-height;
  .skill-title{
    @include section-title($default_color);
    @media screen and (max-width: 680px){
      font-size: $min-title-size;
    }
  }
  .skill-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 370px;
    .skill-tip{
      position: absolute;
      right:0;
      top:-100px;
      float: right;
      width: 25%;
      background: rgba(243,255,170,0.82);
      padding: 10px 0 10px;
      border-radius: 10px;
      height: 100px;
      @media screen and (max-width: 680px){
        width: 27%;
        height: 100px;
      }
      .tip-title{
        font-size: 15px;
        @media screen and (max-width: 680px){
          font-size: 8px;
        }
        .tip-img{
          margin-left: 10px;
          height: 20px;
        }
        .tip-title-content{
          margin-left: 10px;
        }
      }
      .tip-content{
        margin-top: 5px;
        margin-left: 10px;
        letter-spacing: 1px;
        font-size: 15px;
        @media screen and (max-width: 680px){
          font-size: 8px;
        }
      }
    }
    /* tip弹跳的效果 */
    .skill-tip.show{
      -webkit-animation: tip-animation 1s ease-out forwards;
      //@media screen and (max-width: 680px){
      //    animation: null 1s ;
      //}
    }
    @-webkit-keyframes tip-animation {
      0%{
        top:-100px;
      }
      30%{
        top:80px;
      }
      45%{
        top:20px;
      }
      60%{
        top:80px;
      }
      70%{
        top:45px;
      }
      80%{
        top:80px;
      }
      88%{
        top:60px;
      }
      100%{
        top:80px;
      }
    }
  }
}
/* 进度条的样式 */
#skill-panel{
  float: left;
  width: 70%;
  .skill-name{
    font-size: 18px;
    color: #8a6d3b;
  }
  .progress{
    width: 100%;
    height: 25px;
    .progress-bar{
      width: 0;
    }
    .progress-bar-success.show{
      width: $js;
    }
    .progress-bar-info.show{
      width: $node;
    }
    .progress-bar-warning.show{
      width: $css;
    }
    .progress-bar-danger.show{
      width: $php;
    }
  }
}
$item-content-color:#f3f3f3;
#self-item{
  width: 100%;
  height: 500px;
  @media screen and (max-width: 680px){
      height: auto;
  }
}
$left-arrow:'../img/arrow-left.png';
$top-arrow:'../img/arrow-top.png';
#item-container{
  margin: 0;
  padding: 0;
  height: 500px;
  width: 100%;
  li{
    float: left;
    margin-top: 50px;
    width: 100%;
    //position: relative;
    @media screen and(max-width: 680px){
      margin-top: 30px;
    }
    .item-time{
      height: 120px;
      .time-content{
        width: 120px;
        height: 120px;
        float: right;
        border-radius: 60px;
        background: #00bdbd;
        text-align: center;
        line-height: 120px;
        font-size: 25px;
        color: #ffffff;
        @media screen and(max-width: 680px){
          float: none;
          margin: 0 auto;
        }
      }
    }
    .item-info{
      height: 100%;
      .left-arrow{
        width: 15px;
        height:25px;
        background: url("#{$left-arrow}") no-repeat;
        background-size: contain;
        float: left;
        margin-top: 50px;
        @media screen and (max-width: 680px){
          width: 100%;
          height: 15px;
          background: url("#{$top-arrow}") no-repeat center;
          margin-top: 0;
        }
      }
      .item-content{
        padding: 0 5px 0 5px;
        border-radius: 10px;
        background: $item-content-color;
        width: 90%;
        min-height: 200px;
        min-width: 120px;
        float: left;
        @media screen and(max-width: 680px){
          width: 100%;
        }
        .item-name{
          font-size: 20px;
          color: #474d5d;
        }
        p{
          font-size: 15px;
          font-weight: bolder;
          color: #777777;
        }
      }
    }


  }
}