*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
#header{
    width: 100%;
    overflow: hidden;
}
#top{
    margin-top: 20px;
}
#personal-img{
    height: 50px;
    background: #1b6d85;
}
#nav-list li{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
@media screen and (max-width: 680px){
    #top .menu{
        height: 50px;
        width: 80%;
        margin: 0 auto;
        background: #2e6da4;
    }
}